body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:615px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:600px;
  display:flex;
  transition:none;
}
#u128 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u128_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:600px;
}
#u128_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:10px;
  background:inherit;
  background-color:rgba(250, 251, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u129 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:232px;
  width:35px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u129 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u129_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u130_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:10px;
  background:inherit;
  background-color:rgba(250, 251, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u130 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:274px;
  width:35px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u130 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u130_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:10px;
  background:inherit;
  background-color:rgba(250, 251, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u131 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:316px;
  width:35px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u131 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:10px;
  background:inherit;
  background-color:rgba(250, 251, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u132 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:358px;
  width:35px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u132_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u133_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:10px;
  background:inherit;
  background-color:rgba(250, 251, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u133 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:448px;
  width:35px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u133 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u133_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:10px;
  background:inherit;
  background-color:rgba(250, 251, 252, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u134 {
  border-width:0px;
  position:absolute;
  left:212px;
  top:538px;
  width:35px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:8px;
  color:rgba(51, 51, 51, 0.5294117647058824);
}
#u134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u134_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:left;
}
#u135 {
  border-width:0px;
  position:absolute;
  left:315px;
  top:232px;
  width:300px;
  height:170px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:left;
}
#u135 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u136 {
  border-width:0px;
  position:absolute;
  left:190px;
  top:186px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
}
#u136 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 14px 2px;
  box-sizing:border-box;
  width:100%;
}
#u136_img {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:40px;
  height:50px;
}
#u136_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
